@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {

    
  }
}

body {
  
  font-family: var(--font-inter);
  background-color: "#f5f7fa";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
